@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap');

body {
  background-color: rgb(30, 30, 30);
  font-family: 'Inter', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    background-color: rgb(30, 30, 30);
    padding: 50px;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-rows: 400px 350px;
    
  }

.grid-item {
    background-color: rgb(17, 17, 17, 0.8);
    /*border: 0px solid rgba(0, 0, 0, 0.8);*/
    text-align: left;
    overflow: hidden;
    text-align: center;
    Background: "White";
    border-radius: 20px;
    color: rgb(138, 196, 215)
  }
  #grid-item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #grid-item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #grid-item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  #grid-item4 {
    grid-column: 4 / 4;
    grid-row: 1 / 3;
  }

  #grid-item5 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: left;
    overflow: hidden;
  }

  p {
    font-size: 20px;
  }

  #latest-event {
    padding-left: 30px;
  }

  .stock-company {
    font-size: 40px;
    padding: 0px
  }

  ul {
      list-style-type: none;
  }

  .event-stock-price:nth-of-type(1n+13) {
    display: none;
  } 

  .online-users:nth-of-type(1n+33){
    display: none;
  }

  .online-users{
    color: rgb(109,158,85);
    left: -10px;
  }

  .user {
    font-size: 30px
  }

  .stock-price{
      font-size: 60px;
      font-weight: 800;
      color: white;
  }